server:
  port: ${SERVER_PORT:8080}

spring:

  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL:update}
    defer-datasource-initialization: true # Espera a que Hibernate cree las tablas antes de correr el SQL

    show-sql: ${SHOW_SQL:true}

  sql:
    init:
      mode: always
      separator: "^^" # Cambiamos el separador a algo que no uses en el SQL
      # Especificamos la ruta del script si no usa el nombre por defecto
      schema-locations: classpath:schema-postgre.sql

  profiles:
    active: dev

    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      indent-output: true

logging:
  level:
   # org.hibernate.SQL: debug
    #org.hibernate.type.descriptor.sql.BasicBinder: trace
    root: INFO
    com.intuit.challange: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs




